/* 
HEX COLORS FROM FIGMA
red: #fc6059 
light grey: #f7f7ff
light blue: #bed5e9
regular blue: #587498
dark blue: #4a5866
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body,
html,
.App {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Monaco;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Monaco";
  src: local("Monaco"), url("./fonts/Monaco.ttf") format("truetype");
  font-weight: normal;
}

/* FOOTER */
footer {
  margin-top: 60px;
  text-align: left;
  background-color: #4a5867;
  width: 100%;
  color: #f2f2f2;
  padding: 50px 0px;
}
.footer-title {
  margin-bottom: 25px;
  font-size: 30pt;
}
/* FOOTER */

/* GENERAL - IMAGES */
.iconDiv {
  width: 8%;
  margin-right: 6%;
}
.iconDivR {
  width: 86%;
  display: flex;
  align-items: center;
}
.icons {
  width: 100%;
}
.circleImage {
  border-radius: 50%;
}
.paddingImageM {
  width: 80%;
  margin: 10%;
}
.socialImgAlt {
  width: 20px;
  height: 20px;
  margin: 15px;
  margin-left: 0px;
  transition: all 0.6s;
}
.socialImg {
  width: 20px;
  height: 20px;
  margin: 15px;
  transition: all 0.6s;
}
.socialImg:hover {
  opacity: 0.6;
}
.aboutIllus {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
/* GENERAL - IMAGES */

/* GENERAL - BUTTONS AND INPUT */
button {
  margin: 0px;
  padding: 0pc;
  /* width: 100%; */
  padding: 11px 20px;
  border: none;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
  transition: all 0.7s;
  color: white;
}

input {
  margin: 0px;
  padding: 0pc;

  padding: 11px 20px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.7s;
}
.searchInput {
  width: 40%;
}
.redButton {
  background-color: #fc6059;
}
.redButton:hover {
  background-color: #800000;
}
/* GENERAL - BUTTONS AND INPUT */

/* GENERAL - COlORING/STYLING TEXT */
.leftText {
  text-align: left;
}
b {
  padding-bottom: 10px;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.redText {
  color: #fc6059;
}
.ltGreyText {
  color: #f7f7ff;
}
.ltBlueText {
  color: #bed5e9;
}
.blackText {
  color: #000000;
}
.regBlueText {
  color: #587498;
}
.darkBlueText {
  color: #4a5866;
}
.underline {
  text-decoration: underline;
}
.textCenter {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.lText {
  font-size: 25px;
}
.xlText {
  font-size: 35px;
}
.xxlText {
  font-size: 45px;
}
.noMarginText {
  margin: 0px;
}
/* GENERAL - COlORING/STYLING TEXT */

/* GENERAL - BORDER */
.sideBorderL {
  border-left: 2px solid #000000;
}
.sideBorderR {
  border-right: 2px solid #000000;
}

/* GENERAL - BORDER */

/* GENERAL - COlORING BACKGROUNDS */
.ltBlueBackground {
  background-color: #bed5e9;
  width: 100%;
}
.ltGreyBackground {
  background-color: #f7f7ff;
  width: 100%;
}
.lterGreyBackground {
  background: #f2f2f2;
  width: 100%;
}
.dkGreyBackground {
  background-color: #f2f2f2;
  width: 100%;
}

/* GENERAL - COlORING BACKGROUNDS */

/* GENERAL - LINKS */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.blackLink {
  color: black;
  border-bottom: 2px solid #000000;
  text-decoration: none;
  transition: all 0.6s;
}
.blackLink:hover {
  color: #587498;
  text-decoration: none;
  border-bottom: 2px solid #587498;
}
.redLink {
  color: #fc6059;
  border-bottom: 2px solid #fc6059;
  text-decoration: none;
  transition: all 0.6s;
}
.redLink:hover {
  color: #800000;
  text-decoration: none;
  border-bottom: 2px solid #800000;
}
.linkMarginBottom {
  margin-bottom: 20px;
}
.blueLink {
  color: #587498;
  border-bottom: 2px solid #587498;
  text-decoration: none;
  transition: all 0.6s;
}
.blueLink:hover {
  color: #243a58;
  text-decoration: none;
  border-bottom: 2px solid #243a58;
}
.blueArrowLink {
  text-decoration: none;
  border-bottom: none;
}
.blueArrowLink:hover {
  color: #587498;
  text-decoration: none;
  border-bottom: 2px solid #587498;
}
.white-link {
  color: #f2f2f2;
  text-decoration: underline;
}
/* GENERAL - LINKS */

/* GENERAL - DIVS */
.underNegativeMargin {
  margin-bottom: -5px;
}
.rowM {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.rowMH {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.rowWithMargin {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 88%;
  margin: 0px 6%;
}
.bi {
  width: 48%;
  margin: 0px 1%;
  display: flex;
  flex-direction: column;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.colWithMargin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 88%;
  margin: 0px 6%;
}
.aboutColLeft {
  height: 100%;
  width: 42%;
  margin-right: 3%;
}
.aboutColRight {
  height: 100%;
  width: 47%;
  margin-left: 2%;
  margin-right: 6%;
}
.leftOneThirdCol {
  height: 100%;
  width: 37%;
  margin-right: 3%;
}
.rightTwoThirdCol {
  height: 100%;
  width: 57%;
  margin-left: 3%;
}
.tri {
  width: 31%;
  margin: 0px 1%;
}
.triL {
  width: 31%;
  margin-right: 2%;
}
.triR {
  width: 31%;
  margin-left: 2%;
}
.triWBorder {
  width: 36.3%;
  padding: 0px 8%;
}
.triLWBorder {
  width: 29.3%;
  padding-right: 8%;
}
.triRWBorder {
  width: 29.3%;
  padding-left: 8%;
}
.quadAlt1 {
  width: 20%;
  margin-right: 3%;
}
.quadAlt2 {
  width: 23%;
  margin-right: 3%;
  padding-left: 3%;
}
.centerVertical {
  height: 100%;
  display: flex;
  align-items: center;
}
.centerHorizontal {
  display: flex;
  justify-content: center;
}
.width30percent {
  width: 30%;
  margin: 0px 35%;
}
.width40percent {
  width: 40%;
  margin: 0px 30%;
}
.width50percent {
  width: 50%;
  margin: 0px 25%;
}
/* GENERAL - DIVS */

/* GENERAL - PADDING */
.verticalPaddingM {
  padding: 50px 0px;
}
/* GENERAL - PADDING */

/* HOME PAGE STYLING */
.main {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.fullscreenVertical {
  height: 100vh;
  width: 100%;
}
.titleLandingText {
  font-size: 450%;
}

.leftLandingCol {
  height: 100%;
  width: 57%;
  margin-right: 3%;
}
.rightLandingCol {
  height: 100%;
  width: 20%;
  margin-left: 17%;
  margin-right: 3%;
}

.innerRightLandingCol {
  border-left: solid 2px black;
  padding-left: 40px;
}
.socialBarRow {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}
/* HOME PAGE STYLING */

/* SOFTWARE PAGE STYLING */
.softwareListText {
  margin: 0px;
  font-size: 13px;
}
/* SOFTWARE PAGE STYLING */

/* STAFF PAGE STYLING */
.topStaffColL {
  width: 42%;
  margin-right: 3%;
}
.topStaffColR {
  width: 53%;
  margin-left: 2%;
  position: relative;
}
.staffIllGuyDiv {
  position: absolute;
  width: 50%;
  bottom: 0px;
}
.staffIllGuy {
  height: 100%;
}
.staffGuyProfileDiv {
  position: absolute;
  width: 30%;
  max-width: 200px;
  bottom: 10px;
  left: 100px;
}
.staffIllGuyDisplay {
  width: 100%;
  bottom: 0px;
}
.staffColumns {
  display: flex;
  flex-wrap: wrap;
}
.staffDiv {
  width: 21%;
  margin: 20px 2%;
  display: flex;
  flex-direction: column;
}
.staffPicture {
  width: 80%;
  margin: 10px 10%;
}
/* STAFF PAGE STYLING */
